<section id="banner">
    <div class="inner">
        <h1>This is PickME, where the people decide!</h1>
    </div> 
</section>
<article id="one" class="post style1">
    <div class="image">
        <img src="~/Images/pic14.JPG" />
    </div>
    <div class="content">
        <div class="inner">
            <header>
                <h2>Ask for advice</h2>
            </header>
            <p>Pick any two players of similar positions and ask the community. If there is already a post, chime in!</p>
            <ul class="actions">
                <li><a href="~/Player/Index" class="button alt">Get Started</a></li>
            </ul>
        </div>
    </div>
</article>
